* {
    --blue: #028dff;
    font-weight: bold;
}

body {
    /* background: linear-gradient(-45deg, #0693e3 0%,#000341 100%) fixed; */
    background: url(img/5172658.jpg) fixed no-repeat center;
    background-size: cover;
    display: grid; 
    grid-template-rows: auto auto 1fr;
    min-height: 100vh;
}
hr.solid {
    border-top: 2px solid;
    margin-inline: auto;
    width: 150px;
    margin-top: 1em;
    color: var(--blue);
    opacity: 1;
}
.text-justify {
    text-align: justify;
}
.text-center {
    margin-bottom: 0;
}
#name {
    text-decoration: none;
}
h2 {
    text-decoration: underline 3px;
}
section > p {
    margin-top: 1em;
}

.img {
    border: 2px solid var(--blue);
    border-radius: 10px;
    margin-inline: auto
}
div:has(.img) {
    display: flex;
    align-items: center;
}

section:has(article > div > img) {
    gap: 2em;
}


/* HEADER */
header {
    /* background: linear-gradient(160deg, rgb(6, 147, 227) 0%, rgb(0, 3, 65) 100%) fixed; */
    background: url(img/5172658.jpg) fixed no-repeat center;
    background-size: cover;
}
/* NAV */
nav {
    background: 
        /* linear-gradient(160deg, rgba(6, 146, 227, 0.5) 0%, rgba(0, 3, 65, 0.5) 100%) fixed,  */
        url(img/5172658.jpg) fixed no-repeat center;
    background-size: cover;
    /* border-block: 2px solid var(--blue); */
    /* border-bottom: 2px solid #fff; */
    padding-block: 4px;
}
nav a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
nav a:hover {
    color: white;
    text-decoration: underline 4px;
}
#active {
    /* background: linear-gradient(45deg, #0693e3 0%,#000341 100%);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--blue); */
    text-decoration: underline 4px;
}


/* FOOTER */
footer {
    /* background: linear-gradient(0deg, #00111c 0%,#047cf6 150%); */
    background: url(img/27271.webp) no-repeat center;
    background-size: cover;
    /* border-top: 2px solid var(--blue); */
    border-top: 2px solid #fff;
}
footer > p {
    margin: 0;
}
footer > a.btn {
    border-radius: 10em;
    border: none;
}
a.github {
    content: url(/img/github-mark-white.svg);
    height: 40px;
    width: 53px;
}
a.github:hover {
    content: url(/img/github-mark.svg);
}
a.linkedin {
    content: url(/img/linkedin-mark-white.svg);
    height: 40px;
    width: 55px;
}
a.linkedin:hover {
    content: url(/img/linkedin-mark.svg);
}



/* INDEX AND ABOUT*/
#special-link {
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    font-weight: 700;
}
#special-link:hover {
    background: white;
    text-decoration: 2px underline var(--blue);
    color: var(--blue);
    border-color: var(--blue);
}
#ease {
    animation: 4s anim ease;
}
@keyframes anim {
    0% {
        font-size: 0;
        opacity: 0;
    }
    50% {
        font-size: calc(2rem + 1.5vw);
        opacity: .7;
    }
    100% {
        font-size: calc(1.375rem + 1.5vw);
        opacity: 1;
    }
}
@media (min-width: 1200px) {
    @keyframes anim {
        0% {
            font-size: 0;
            opacity: 0;
        }
        50% {
            font-size: 3rem;
            opacity: .7;
        }
        100% {
            font-size: 2.5rem;
            opacity: 1;
        }
    }
}

/* STAGE */
#stage {
    margin-inline: auto;
}

/* CONTACT */
button#special-link {
    background: #0000;
}
input, textarea {
    border: 2px solid var(--blue);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 400px){
    section.p-5 {
        padding: 1em!important;
    }
}

/* Realisations */
#ghcard-Will6855-1 {
    height: 150px;
    width: 400px;
}
@media screen and (max-width: 500px){
    #ghcard-Will6855-1 {
        height: 200px;
        width: 200px;
    }
}